body{
    margin: 0;
    padding: 0;
    font-family:  'Barlow Condensed', sans-serif;;
}
.top-banner{
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('assets/images/donation13.jpg');
    background-size: cover;
    background-position: center;
}
.top-banner .content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 50%;
    margin: auto;
}
.content p{
    width: 60%;
    margin: 15px auto;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 50px;
    font-size: 17px;
}
.top-banner a{
    background: #F75909;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 7px;
}
.donation-link{
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}
.text{
    text-align: center;
}
.donation-link h1{
    font-size: 60px;
    color: #000000;
}
.donate-link a{
    background: #F75909;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 7px;
}
.top-banner p{
    color: white;
}
 p{
    width: 40%;
    margin: auto;
    margin-bottom: 45px;
    color: grey;
    font-size: 17px;
}
.donation-link .amount{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.amount .amnt{
    box-shadow: 0.5px 0.5px 5px rgba(128, 128, 128, 0.308);
    padding: 15px;
    margin-left: 15px;
    text-align: center;
    width: 100px;
    display: inline-block;
    height: 80px;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    font-size: 25px;
}
.amount .regular{
    color: #F75909;
    border: 2px solid #F75909;
}
.add-amount{
    width: 80%;
    margin: auto;
}
.add-amount input{
    display: block;
    width: 30%;
    margin: auto;
    border: none;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}
.add-amount hr{
    margin-bottom: 50px;
}
.donate-link a{
    width: 150px;
    margin: auto;
    text-align: center;
    display: block;
}
.donate-plan h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.container p{
    text-align: start;
}
.donate-plan p{
    font-size: 19px;
}
.container{
    display: flex;
    width: 80%;
    margin: auto;
    letter-spacing: 0.05rem;
}
.box{
    width: 500px;
    margin: 30px;
    padding: 20px;
    height: 270px;
    border-radius: 5px;
}
.container small{
    font-size: 17px;
    margin-bottom: 20px;
}
.container h1{
    width: 80%;
    margin: 0;
    text-align: left;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.box-one{
    background-color: antiquewhite;
}
section .news p{
    text-align: left;
}
.news{
    width: 90%;
    margin: auto;
    display: flex;
    margin-left: 12%;
    margin-top: 100px;
    margin-bottom: 150px;
}
.half-width{
    width: 42%;
    padding-right: 50px;
}
.news .image{
    width: 470px;
    height: 300px;
}
.half-width img{
    width: 470px;
    height: 400px;
    padding-left: 0px;
}
section .article{
    margin-top: 15px;
}
section .article h1{
    font-size: 60px;
    margin: 0;
    margin-bottom: 20px;
}
section .article small{
    font-size: 20px;
    margin-bottom: 20px;
}
.news a{
    background: #F75909;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 7px;
}
section .article-second{
    margin-top: 100px;
}
form{
    width: 60%;
    height: 400px;
    margin: auto;
    position: relative;
}
.form h1{
    font-size: 50px;
}
form .text small{
    font-size: 19px;
    display: block;
}
.info{
    width: 70%;
    margin: auto;
    margin-top: 120px;
    outline: 60px solid rgba(223, 144, 144, 0.342);
}
.contact{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 80px;
}
.contact{
    border-radius: 5px;
}
.contact input{
    position: relative;
    display: inline-block;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    padding: 10px 15px;
    color: white;
    outline: none;
    margin-left: -4em;
}
footer{
    background: rgb(20, 20, 24);
    color: white;
    padding: 15px;
    text-align: center;
}
footer h1{
    margin-bottom: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #f70950;
}
footer small{
    margin-bottom: 5px;
}