body{
    margin: 0;
    padding: 0;
    font-family:  'Barlow Condensed', sans-serif;;
}
.top-banner{
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('assets/images/donation13.jpg');
    background-size: cover;
    background-position: center;
}
.top-banner .content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    margin-bottom: 10px;
    width: 50%;
    margin: auto;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
a{
    background: #F75909;
    color: white;
    padding: 10px 25px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 7px;
}
.donation-link{
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}
.text{
    text-align: center;
}
.donation-link h1{
    font-size: 60px;
    color: #000000;
}
.top-banner p{
    color: white;
}
 p{
    width: 40%;
    margin: auto;
    margin-bottom: 45px;
    color: grey;
}
.donation-link .amount{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.amount .amnt{
    box-shadow: 1px 1px 5px gray;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 60px;
    border-radius: 5px;
}
.amount .regular{
    color: #F75909;
    border: 2px solid #F75909;
}
.add-amount{
    width: 80%;
    margin: auto;
}
.add-amount input{
    display: block;
    width: 30%;
    margin: auto;
    border: none;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}
.add-amount hr{
    margin-bottom: 50px;
}
.donate-link a{
    width: 150px;
    margin: auto;
    text-align: center;
    display: block;
}
.donate-plan h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.container p{
    text-align: start;
}
.donate-plan p{
    font-size: 19px;
}
.container{
    display: flex;
    width: 80%;
    margin: auto;
    letter-spacing: 0.05rem;
}
.box{
    width: 500px;
    margin: 30px;
    padding: 20px;
    height: 250px;
    border-radius: 5px;
}
.container small{
    font-size: 17px;
    margin-bottom: 20px;
}
.container h1{
    width: 80%;
    margin: 0;
    text-align: left;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.box-one{
    background-color: antiquewhite;
}
